<!DOCTYPE html>
<html>
  
  <head>
    
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css" type="text/css">
  </head>
  
  <body>

    <header class="center">
      
      <h1>Web Introduction</h1>
      
    </header>

    <div class="center">
      {{~> page}}
    </div>
    
    <footer class="center">
      
      ©Cpaw
      
    </footer>
    
  </body>
  
</html>
